
.loginPage {
    background: #fff;
    border-radius: 16px 16px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 33px 22px;
    gap: 32px;

    .loginHeaderContainer {

        img {
            margin: 0 auto 16px;
            width: 50px;
            aspect-ratio: 1;
        }

        .pageHeader {
            font-weight: 500;
            font-size: 18px;
            line-height: 150%;
            text-align: center;
            color: #000000;
        }
        
        .headerSubtitle {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            display: flex;
            align-items: center;
            text-align: center;
            color: #323131;
        }
    }

    .loginForm {

        :global(.formGroup) {
            margin-bottom: 12px;
        }
    }

    .confirmButton {
        margin-bottom: 20px;
        gap: 10px;
    }

    .loginError {
        max-width: 300px;
        font-size: 13px;
        text-align: center;

        a {
            font-size: 16px;
            font-weight: bold;
        }
    }
}
